
{% from "_formhelpers.html" import render_field %}
<title>Wine Quality Predictor</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<div class="container">
<h2>Wine Quality Predictor</h2>

<form method=post>
  <dl>
    {{ render_field(form.vintage) }}
    {{ render_field(form.province) }}
    {{ render_field(form.price) }}
  </dl>
  <p><input type=submit>
</form>
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
<ul class=flashes>
    {% for message in messages %}
      <li>{{ message[1] }}</li>
    {% endfor %}

</ul>
{% endif %}
{% endwith %}
</div>
